<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="description" content="Ignite your community. Pyro is a free, powerful, and modular text and voice communication service">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://pyrochat.app">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Pyro | Ignite Your Community">
        <meta property="og:description" content="Ignite your community. Pyro is a free, powerful, and modular text and voice communication service">
        <meta property="og:image" content="/img/ogimage.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="pyrochat.app">
        <meta property="twitter:url" content="https://pyrochat.app">
        <meta name="twitter:title" content="Pyro | Ignite Your Community">
        <meta name="twitter:description" content="Ignite your community. Pyro is a free, powerful, and modular text and voice communication service">
        <meta name="twitter:image" content="/img/ogimage.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/img/favicon.png" type="image/png">

        <link rel="stylesheet" href="/css/home.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <title>Pyro | Ignite Your Community</title>
    </head>

    <body>
        <div class="landingMount">
            <div class="ctaContainer">
                <div class="ctaContainerText weightBold">
                    Ignite your community
                </div>
            </div>
        </div>
    </body>