<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="description" content="Ignite your community. Pyro combines rich text chat and collaboration to help you run your community, your business, and your groups.">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://pyrochat.app">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Pyro | Ignite Your Community">
        <meta property="og:description" content="Ignite your community. Pyro combines rich text chat and collaboration to help you run your community, your business, and your groups.">
        <meta property="og:image" content="/img/ogimage.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="pyrochat.app">
        <meta property="twitter:url" content="https://pyrochat.app">
        <meta name="twitter:title" content="Pyro | Ignite Your Community">
        <meta name="twitter:description" content="Ignite your community. Pyro combines rich text chat and collaboration to help you run your community, your business, and your groups.">
        <meta name="twitter:image" content="/img/ogimage.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/img/favicon.png" type="image/png">

        <link rel="stylesheet" href="/css/main.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <title>Pyro</title>
    </head>
    <body>
		<div class="appMount-3lHmkl">
			<div class="app-1q1i1E">
				<div class="splashBackground-1FRCko wrapper-3Q5DdO scrollbarGhost-2F9Zj2 scrollbar-3dvm_9">
                    <div class="rightSplit-2US0xy image-2jyRAK"></div>
                        <div class="leftSplit-1qOwnR nonEmbeddedLeftSplit-3z6mge">
                            
                            <div class="authBox-hW6HRx theme-dark">
                                <div class="centeringWrapper-2Rs1dR">
                                    <div class="colorHeaderPrimary-26Jzh- size24-RIRrxO title-jXR8lp">Create an account</div>
                                    <div class="block-egJnc0 marginTop20-3TxNs6">
                                        <div class="marginBottom20-32qID7">
                                            <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP" id="emailLabel">Email</h5>
                                            <div class="inputWrapper-31_8H8">
                                                <input class="inputDefault-_djjkz input-cIJ7To" type="email" max="100" min="5" placeholder="mail@pyroapp.app" id="emailField">
                                            </div>
                                        </div>
                                        <div class="marginBottom20-32qID7">
                                            <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP" id="usernameLabel">Username</h5>
                                            <div class="inputWrapper-31_8H8">
                                                <input class="inputDefault-_djjkz input-cIJ7To" type="text" max="35" min="1" placeholder="Fire" id="usernameField">
                                            </div>
                                        </div>
                                        <div>
                                            <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP" id="passwordLabel">Password</h5>
                                            <div class="inputWrapper-31_8H8">
                                                <input class="inputDefault-_djjkz input-cIJ7To" type="password" max="100" min="8" placeholder="•••••••••••" id="passwordField">
                                            </div>
                                        </div>
                                        <div class="container-3bTSed marginTop20-3TxNs6" style="display: none;">
                                            <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP">Year born</h5>
                                            <div class="inputs-14Hc7m">
                                                <select class="inputDefault-_djjkz input-cIJ7To dataOfBirthSelect-fF4y52" id="bornDropdown">
                                                    <option hidden selected>Select</option>
                                                </select>
                                            </div>
                                            <div class="colorStandard-2KCXvj size14-e6ZScH errors-ArjaXz"></div>
                                        </div>
                                        <div class="marginTop20-3TxNs6">
                                            <button type="submit" class="button-3k0cO7 button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeLarge-1vSeWK fullWidth-1orjjo grow-q77ONN" id="signupButton">
                                                <div class="contents-18-Yxp">Continue</div>
                                            </button>
                                        </div>
                                        <a href="/login" class="marginTop8-1DLZ1n linkButton-wzh5kV button-38aScr colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN">
                                            <div class="contents-18-Yxp">Already have an account?</div>
                                        </a>
                                        <div class="colorStandard-2KCXvj size12-3cLvbJ subText-1XkjIB marginTop20-3TxNs6">By registering, you agree to Pyro's <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" href="/terms" rel="noreferrer noopener" target="_blank">Terms of Service</a> and <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" href="/privacy" rel="noreferrer noopener" target="_blank">Privacy Policy</a>.</div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Firebase Core SDK -->
		<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>

		<!-- Firebase Libraries -->
		<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-messaging.js"></script>

		<!-- Firebase Configuration -->
		<script src="/js/firebase/config.js"></script>

		<!-- All other local scripts -->
		<script src="/js/helpers/main.js"></script>
		<script src="/js/helpers/forms.js"></script>
		<script src="/js/helpers/globals.js"></script>
        <script src="/js/helpers/user.js"></script>

		<script src="/js/auth/signup.js"></script>
    </body>
</html>