@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	color: white;
	font-family: "Rubik", sans-serif;
}

body {
	background: #101015;
	background: linear-gradient(180deg, rgba(23,23,31,1) 0%, rgba(16,16,21,1) 100%); 
}

.page {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.container {
	display: inline;
	margin-left: 80px;
	margin-right: 80px;
}

.container > h1 {
	font-size: 60px;
	font-weight: 700;
	color: #FEBE10;
}

.container > p {
	margin-top: 40px;
	font-size: 25px;
}

.container > button {
	transition: 0.4s;
	margin-top: 40px;
	border: 0;
	outline: 0;
	background: #FEBE10;
	padding: 16px 32px;
	font-size: 20px;
	color: #1a1a23;
	border-radius: 100vw;
	font-weight: 500;
}

.container > button:hover {
	transition: 0.4s;
	letter-spacing: 1px;
	background: #ebbe45;
}

@media only screen and (max-width: 414px) {
	.container {
		margin-left: 40px;
		margin-right: 40px;
		text-align: center;
	}
}