@font-face {
    font-family: 'PyroLight';
    src: url('/fonts/light.woff');
}

@font-face {
    font-family: 'PyroRegular';
    src: url('/fonts/regular.woff');
}

@font-face {
    font-family: 'PyroSemiBold';
    src: url('/fonts/semibold.woff');
}

@font-face {
    font-family: 'PyroBold';
    src: url('/fonts/bold.woff');
}

@font-face {
    font-family: 'PyroBlack';
    src: url('/fonts/black.woff');
}