#landingMount {
    height: 100%
}

/* Global */

.hidden {
    display: none !important;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline
}

table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle
}

caption,
td,
th {
	text-align: left;
	font-weight: 400;
	vertical-align: middle
}

ol,
ul {
	list-style: none
}

a img {
	border: none
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent
}

html {
    height: 100%
}

body {
	background: #1a1a23;
	color: #E2E2E2
}

body {
	text-rendering: optimizeLegibility;
	font-family: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.15
}

body {
    margin: 0;
    overflow: hidden;
}

/* Button Style */

.buttonBase {
    position: relative;
    display: inline-block;
    background: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-family: 'Rubik',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.buttonRound {
    border-radius: 4px;
}

.buttonBrand {
    background-color: #FEBE10;
}

.buttonBrand:hover {
    -webkit-box-shadow: 0 8px 15px rgba(254, 190, 16,.3);
    box-shadow: 0 8px 15px rgba(254, 190, 16,.3);
}

.buttonTall {
    height: 48px;
}

.buttonPadding {
    font-size: 14px;
    padding: 0 20px;
}

.buttonSecondary {
    margin-right: 24px;
    border-color: #292B33;
    color: #FFF;
    background-color: #1a1a23;
    border: 2px solid #292B33;
}

.buttonContent {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

/* Font Weights */

.weightLight {
	font-weight: 300
}

.weightNormal {
	font-weight: 400
}

.weightMedium {
	font-weight: 500
}

.weightSemiBold {
	font-weight: 600
}

.weightBold {
	font-weight: 700
}

/* Text Styles and Headers */

.h1 {
	font-size: 48px
}

.h1,
.h2 {
	font-weight: 700;
	line-height: 120%
}

.h2,
.h3 {
	font-size: 40px
}

.h3 {
	font-weight: 500
}

.h3,
.h4 {
	line-height: 120%
}

.h4 {
	font-weight: 600;
	font-size: 32px
}

.h5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%
}

.textBrand {
    color: #FEBE10
}
/* Link Style */

.link {
	cursor: pointer
}

.link:hover {
	text-decoration: underline
}

/* CTA Section */

.ctaContainer {
    width: 100%;
    background-color: #101015;
    position: relative;
    height: 40vh;
    max-height: 828px;
    min-height: 568px;
    border-bottom: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ctaContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

/* Hero Section */
.heroBody {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.heroText {
    padding-bottom: 8px;
    display: flex;
}

.heroBackground {
    padding-bottom: 0;
}

.heroImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Landing Section */

/* .landingContainer {
    width: 100%;
    background-color: #1a1a23;
    position: relative;
    height: 100%;
    border-bottom: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* Parallax */

.parallaxbitch {
    display: block;
    position: absolute;
}

.megaparallaxbitch {
    display: block;
    position: absolute;
}

#parallaxContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}