<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta property="site_name" content="Discord">
        <meta property="title" content="Discord - A New Way to Chat with Friends & Communities">
        <meta property="description" content="Discord is the easiest way to communicate over voice, video, and text.  Chat, hang out, and stay close with your friends and communities.">
        <meta property="image" content="/img/j09f4wxmpof4c093q0cmnn8a03.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/img/favicon.png" type="image/png">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fonts.css">

        <title>Discord</title>
    </head>
    <body>
		<div class="appMount-3lHmkl">
			<div class="app-1q1i1E">
				<div class="splashBackground-1FRCko wrapper-3Q5DdO scrollbarGhost-2F9Zj2 scrollbar-3dvm_9">
                    <div class="rightSplit-2US0xy image-2jyRAK"></div>
                        <div class="leftSplit-1qOwnR nonEmbeddedLeftSplit-3z6mge">
                            <a href="/" target="_blank" class="logo-2iEHEq logo-2niOmb logo-1-AbdC"></a>
                            <form class="authBox-hW6HRx theme-dark">
                                <div class="centeringWrapper-2Rs1dR">
                                    <div class="colorHeaderPrimary-26Jzh- size24-RIRrxO title-jXR8lp">Forgot my password</div>
                                    <div class="block-egJnc0 marginTop20-3TxNs6">
                                        <div class="marginBottom20-32qID7">
                                            <h5 class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP">Email</h5>
                                            <div class="inputWrapper-31_8H8">
                                                <input class="inputDefault-_djjkz input-cIJ7To" name="email" type="email" maxlength="999" placeholder="wumpus@discord.com">
                                            </div>
                                        </div>
                                        <div class="marginTop20-3TxNs6">
                                            <button type="submit" class="button-3k0cO7 button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeLarge-1vSeWK fullWidth-1orjjo grow-q77ONN">
                                                <div class="contents-18-Yxp">Reset</div>
                                            </button>
                                        </div>
                                        <a href="/login" class="marginTop8-1DLZ1n linkButton-wzh5kV button-38aScr colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN">
                                            <div class="contents-18-Yxp">Go back</div>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>